.footer {
    .footer-top-row {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 0.85rem;
        color: $font-color;
        .logo {
            @media (max-width: 575px) {
                width: 250px;
            }
        }
        .left-block {
            padding-left: 50px;
            @media (max-width: 1399px) {
                padding-left: 0;
            }
            .contacts {
                display: flex;
                @media (max-width: 575px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .address {
                    margin-left: 70px;
                    font-size: 0.85rem;
                    font-weight: 400;
                    line-height: 1.4;
                    @media (max-width: 767px) {
                        margin-left: 30px;
                    }
                    @media (max-width: 575px) {
                        margin-left: 0;
                        margin-top: 30px;
                        font-weight: 700;
                        text-align: center;
                        line-height: 1.7;
                    }
                    a {
                        color: $font-color;
                        @media (max-width: 575px) {
                            font-size: 1.3rem;
                            font-weight: 400;
                        }
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
            .license-link {
                display: block;
                width: fit-content;
                margin-top: 50px;
                font-size: 0.85rem;
                font-weight: 400;
                line-height: 1.2;
                color: $font-color;
                @media (max-width: 575px) {
                    margin: 20px auto 0;
                    max-width: 75%;
                    text-align: center;
                }
                &:hover {
                    color: $blue;
                }
            }
        }
        .social {
            @media (max-width: 575px) {
                margin: 20px auto 0;
                max-width: 50%;
                text-align: center;
            }
            p {
                margin-bottom: 0.5rem;
            }
            .social-wrapper {
                display: flex;
                gap: 15px;
                @media (max-width: 575px) {
                    justify-content: center;
                }
                .social-item {
                    &:hover {
                        svg {
                            path {
                                fill: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom-row {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 0.65rem;
        font-weight: 300;
        line-height: 1.2;
        color: $font-color;
        background-color: #F2F7FA;
        .footer-controls {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 3%;
            @media (max-width: 1799px) {
                gap: 1%;
            }
            @media (max-width: 991px) {
                order: 1;
            }
            @media (max-width: 575px) {
                order: 2;
                padding-top: 1rem;
            }
            .footer-controls-item {
                position: relative;
                display: flex;
                align-items: center;
                width: 22%;
                max-width: 22%;
                @media (max-width: 1799px) {
                    width: 49%;
                    max-width: 49%;
                    margin-bottom: 20px;
                }
                @media (max-width: 575px) {
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 10px;
                }
                &:hover {
                    .text {
                        color: $blue;
                    }
                }
                .pic {
                    margin-right: 20px;
                    @media (max-width: 575px) {
                        display: none;
                    }
                }
            }
            .footer-controls-title {
                font-size: 14px;
                font-weight: 300;
            }
        }
        .footer-attention {
            padding-right: 2rem;
            @media (max-width: 991px) {
                order: 2;
            }
            @media (max-width: 575px) {
                padding-bottom: 1rem;
                order: 1;
                border-bottom: 1px solid rgba(82, 82, 82, 0.50);
            }
        }
        .footer-warning {
            padding-top: 2rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: 3.2px;
            text-align: center;
            @media (max-width: 991px) {
                order: 3;
                font-size: 1.2rem;
                padding-top: 1rem;
            }
            @media (max-width: 767px) {
                font-size: 1rem;
            }
            @media (max-width: 575px) {
                order: 3;
                border-top: 1px solid rgba(82, 82, 82, 0.50);
            }
        }
    }
}