.signature {
	padding-top: 3.5rem;
    padding-bottom: 3.5rem;
	.signature-row {
		padding-top: 30px;
	}
	.signature-item {
		> .content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
        .signature-item-text {
            text-align: center;
            font-size: 0.85rem;
            font-weight: 300;
            margin-top: 1.3rem;
            max-width: 80%;
        }
	}
}
