.signature {
	padding-top: 3.5rem;
    padding-bottom: 3.5rem;
	@media (max-width: 1199px) {
		padding-top: 2.5rem;
		padding-bottom: 2rem;
	}
	.signature-row {
		padding-top: 30px;
		@media (max-width: 767px) {
			padding-top: 50px;
		}
		@media (max-width: 575px) {
			padding-top: 40px;
		}
	}
	.signature-item {
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
		> .content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
        .signature-item-text {
            text-align: center;
            font-size: 0.85rem;
            font-weight: 300;
            margin-top: 1.3rem;
            max-width: 80%;
			@media (max-width: 1920px) {
				max-width: 75%;
			}
			@media (max-width: 1799px) {
				max-width: 80%;
			}
            @media (max-width: 1599px) {
				max-width: 90%;
			}
            @media (max-width: 1099px) {
				max-width: 100%;
			}
			@media (max-width: 767px) {
				max-width: 50%;
				margin-top: 10px;
			}
			@media (max-width: 575px) {
				max-width: 80%;
				font-size: 1rem;
			}
        }
	}
}
