.stages {
	padding-top: 3.5rem;
	padding-bottom: 2.5rem;
    overflow-x: hidden;
    @media (max-width: 1499px) {
        padding-top: 2.5rem;
    }
    @media (max-width: 1199px) {
        padding-top: 2rem;
    }
	.stages-wrapper {
		.stages-description {
            position: relative;
            z-index: 100;
			> .content {
                min-height: 950px;
				background-color: white;
				border-radius: 20px;
				box-shadow: 20px 0px 120px -20px #e1e4f0;
				padding: 2.1rem 4.5rem 2.5rem 4.5rem;
			    @media (max-width: 1920px) {
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                    min-height: 850px;
                }
                @media (max-width: 1699px) {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    min-height: 750px;
                }
			}
			.basic-title {
				margin-bottom: 1.8rem;
			}
			.stages-tabs {
                display: flex;
                position: relative;
                border-bottom: 0;
				.nav-item {
                    position: relative;
                    width: 172px;
                    height: 54px;
                    @media (max-width: 1920px) {
                        width: 150px;
                        height: 50px;
                    }
                    @media (max-width: 1699px) {
                        width: 130px;
                        height: 50px;
                    }
                    @media (max-width: 1399px) {
                        width: 120px;
                        height: 40px;
                    }
                    @media (max-width: 1299px) {
                        width: 100px;
                    }
					.nav-link {
                        display: inline-flex;
                        width: 100%;
                        height: 100%;
						font-size: 1rem;
						font-weight: 400;
						line-height: 1;
						padding: 14px 42px 14px 81px;
						justify-content: center;
						align-items: center;
						border-radius: 30px;
                        background-color: #f3f4f6;
						background-image: linear-gradient(90deg, #dee6f3 15.49%, #f3f4f6 100%);
                        color: $font-color;
                        transition: 0.2s ease;
                        @media (max-width: 1920px) {
                            padding: 14px 30px 14px 81px;
                        }
                        @media (max-width: 1699px) {
                            padding: 14px 20px 14px 45px;
                        }
                        @media (max-width: 1399px) {
                            padding: 10px 15px 10px 40px;
                        }
                        @media (max-width: 1299px) {
                            font-size: 0.8rem;
                            padding: 10px 10px 10px 30px;
                        }
                        &.active {
                            color: white;
                            background-color: #8DB9E3;
                            // background-image: linear-gradient(90deg, #8DB9E3 15.49%, #8DB9E3 100%);
                            background-image: unset;
                            transition: 0.2s ease;
                        }
                    }
				}
				.nav-item:first-child {
                    z-index: 10;
					.nav-link {
                        padding-left: 42px;
                        @media (max-width: 1920px) {
                            padding-left: 30px;
                        }
                        @media (max-width: 1699px) {
                            padding-left: 20px;
                        }
                        @media (max-width: 1399px) {
                            padding-left: 15px;
                        }
                        @media (max-width: 1299px) {
                            padding-left: 10px;
                        }
                    }
                }
				.nav-item:not(:first-child) {
                    position: absolute;
                    top: 0;
                    width: 226px;
                    @media (max-width: 1920px) {
                        width: 200px;
                    }
                    @media (max-width: 1699px) {
                        width: 170px;
                    }
                    @media (max-width: 1499px) {
                        width: 150px;
                    }
                    @media (max-width: 1399px) {
                        width: 130px;
                    }
                    @media (max-width: 1299px) {
                        width: 120px;
                    }
                }
				.nav-item:nth-child(2) {
                    left: 115px;
                    // transform: translateX(-50px);
                    z-index: 8;
                    @media (max-width: 1920px) {
                        left: 90px;
                    }
                    @media (max-width: 1299px) {
                        left: 70px;
                    }
                }
				.nav-item:nth-child(3) {
                    left: 285px;
                    // transform: translateX(-100px);
                    z-index: 6;
                    @media (max-width: 1920px) {
                        left: 235px;
                    }
                    @media (max-width: 1699px) {
                        left: 225px;
                    }
                    @media (max-width: 1499px) {
                        left: 205px;
                    }
                    @media (max-width: 1399px) {
                        left: 190px;
                    }
                    @media (max-width: 1299px) {
                        left: 160px;
                    }
                }
				.nav-item:nth-child(4) {
                    left: 455px;
                    // transform: translateX(-150px);
                    z-index: 4;
                    @media (max-width: 1920px) {
                        left: 380px;
                    }
                    @media (max-width: 1699px) {
                        left: 360px;
                    }
                    @media (max-width: 1499px) {
                        left: 320px;
                    }
                    @media (max-width: 1399px) {
                        left: 290px;
                    }
                    @media (max-width: 1299px) {
                        left: 250px;
                    }
                }
			}
            .stages-content {
                padding-top: 1.95rem;
                .tab-pane {
                    font-size: 1.3rem;
                    font-weight: 300;
                    overflow: hidden;
                    > .content {
                        transform: translateY(100px);
                        transition: 0.3s ease;
                    }
                    ul {
                        list-style: none;
                    }
                    ul, ol {
                        padding-left: 3rem;
                    }
                    ul > li {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        position: relative;
                        &::before {
                            position: absolute;
                            left: -20px;
                            top: 0.9rem;
                            display: block;
                            width: 3px;
                            height: 3px;
                            content: "";
                            background-color: $font-color;
                        }
                    }
                    .stage-footer {
                        width: 90%;
                        margin: 2rem auto 0;
                        @media (max-width: 1399px) {
                            width: 100%;
                        }
                    }
                }
                .tab-pane.show.active {
                    > .content {
                        transform: translateY(0);
                        transition: 0.3s ease;
                    }
                }
            }
		}
        .stages-image {
            display: flex;
            align-items: center;
            justify-content: center;
            .bg-round {
                position: relative;
                width: 691px;
                height: auto;
                max-width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-image: linear-gradient(162deg, #1D6FB8 12.34%, #26417E 99.85%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .sun {
                width: 51%;
                position: relative;
                z-index: 5;
                > img {
                    width: 100%;
                    height: 100%;
                }
            }
            .cloud {
                position: absolute;
                z-index: 10;
                transition: 1s ease;
                @media (max-width: 1920px) {
                    text-align: center;
                }
                > img {
                    @media (max-width: 1920px) {
                        width: 83%;
                    }
                    @media (max-width: 1699px) {
                        width: 78%;
                    }
                    @media (max-width: 1599px) {
                        width: 75%;
                    }
                    @media (max-width: 1499px) {
                        width: 72%;
                    }
                }
            }
            .cloud--lefttop {
                top: 0;
                z-index: 10;
            }
            .cloud--left {
                top: 20%;
                z-index: 20;
            }
            .cloud--leftbottom-1 {
                top: 50%;
                z-index: 30;
            }
            .cloud--leftbottom-2 {
                top: 65%;
                z-index: 60;
            }
            .cloud--righttop {
                top: -8%;
                z-index: 70;
            }
            .cloud--right {
                top: 17%;
                z-index: 40;
            }
            .cloud--rightbottom {
                top: 45%;
                z-index: 50;
            }
        }
        .stages-image[data-stage="1"] {
            .cloud {
                transition: 1s ease;
            }
            .cloud--lefttop {
                left: -35%;
                @media (max-width: 1699px) {
                    left: -50%;
                }
            }
            .cloud--left {
                left: -68%;
                @media (max-width: 1699px) {
                    left: -88%;
                }
            }
            .cloud--leftbottom-1 {
                left: -60%;
                @media (max-width: 1699px) {
                    left: -80%;
                }
            }
            .cloud--leftbottom-2 {
                left: -57%;
                @media (max-width: 1699px) {
                    left: -72%;
                }
            }
            .cloud--righttop {
                right: -35%;
                @media (max-width: 1699px) {
                    right: -50%;
                }
            }
            .cloud--right {
                right: -60%;
                @media (max-width: 1699px) {
                    right: -75%;
                }
            }
            .cloud--rightbottom {
                right: -70%;
                @media (max-width: 1699px) {
                    right: -85%;
                }
            }
        }
        .stages-image[data-stage="2"] {
            .cloud {
                transition: 1s ease;
            }
            .cloud--lefttop {
                left: -25%;
                @media (max-width: 1699px) {
                    left: -40%;
                }
            }
            .cloud--left {
                left: -55%;
                @media (max-width: 1699px) {
                    left: -75%;
                }
            }
            .cloud--leftbottom-1 {
                left: -45%;
                @media (max-width: 1699px) {
                    left: -65%;
                }
            }
            .cloud--leftbottom-2 {
                left: -25%;
                @media (max-width: 1699px) {
                    left: -40%;
                }
            }
            .cloud--righttop {
                right: -25%;
                @media (max-width: 1699px) {
                    right: -40%;
                }
            }
            .cloud--right {
                right: -32%;
                @media (max-width: 1699px) {
                    right: -47%;
                }
            }
            .cloud--rightbottom {
                right: -50%;
                @media (max-width: 1699px) {
                    right: -65%;
                }
            }
        }
        .stages-image[data-stage="3"] {
            .cloud {
                transition: 1s ease;
            }
            .cloud--lefttop {
                left: -20%;
                @media (max-width: 1699px) {
                    left: -25%;
                }
            }
            .cloud--left {
                left: -50%;
                @media (max-width: 1699px) {
                    left: -70%;
                }
            }
            .cloud--leftbottom-1 {
                left: -35%;
                @media (max-width: 1699px) {
                    left: -50%;
                }
            }
            .cloud--leftbottom-2 {
                left: -5%;
                @media (max-width: 1699px) {
                    left: -20%;
                }
            }
            .cloud--righttop {
                right: -10%;
                @media (max-width: 1699px) {
                    right: -30%;
                }
            }
            .cloud--right {
                right: -20%;
                @media (max-width: 1699px) {
                    right: -35%;
                }
            }
            .cloud--rightbottom {
                right: -44%;
                @media (max-width: 1699px) {
                    right: -59%;
                }
            }
        }

        .stages-image[data-stage="4"] {
            .cloud {
                transition: 1s ease;
            }
            .cloud--lefttop {
                left: -10%;
                @media (max-width: 1699px) {
                    left: -15%;
                }
            }
            .cloud--left {
                left: -25%;
                @media (max-width: 1699px) {
                    left: -50%;
                }
            }
            .cloud--leftbottom-1 {
                left: -15%;
                @media (max-width: 1699px) {
                    left: -20%;
                }
            }
            .cloud--leftbottom-2 {
                left: 10%;
                @media (max-width: 1699px) {
                    left: 15%;
                }
            }
            .cloud--righttop {
                right: -5%;
                @media (max-width: 1699px) {
                    right: 0;
                }
            }
            .cloud--right {
                right: -13%;
                @media (max-width: 1699px) {
                    right: -18%;
                }
            }
            .cloud--rightbottom {
                right: -32%;
                @media (max-width: 1699px) {
                    right: -37%;
                }
            }
        }
	}
    .stages-footer {
        padding-top: 3rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .stages-footer-text {
            max-width: 60%;
            margin: 0 auto 1rem;
            text-align: center;
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 1.5;
            @media (max-width: 1299px) {
                max-width: 70%;
            }
        }
        .basic-button {
            width: fit-content;
            margin: 0 auto;
        }
    }
}
