.top-slider {
    position: relative;
    min-height: 100vh;
    width: 100%;
    @media (max-width: 991px) {
        height: 100dvh;
    }
    .top-slider__bg {
        min-height: 100vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 991px) {
            height: 100dvh;
        }
    }
    .content-wrapper {
        height: 100%;
        padding-top: 360px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        @media (max-width: 1920px) {
            padding-top: 250px;
        }
        @media (max-width: 1399px) {
            padding-top: 170px;
        }
        @media (max-width: 991px) {
            padding-top: 250px;
        }
        @media (max-width: 767px) {
            padding-top: 300px;
        }
    }
    .top-slider__title {
        color: white;
        font-size: 6.5rem;
        font-weight: 900;
        line-height: 105%;
        text-transform: uppercase;
        font-family: "Muller", sans-serif;
        @media (max-width: 1920px) {
            font-size: 5.5rem;
        }
        @media (max-width: 1499px) {
            font-size: 5rem;
        }
        @media (max-width: 1199px) {
            font-size: 4rem;
        }
        @media (max-width: 575px) {
            font-size: 3rem;
        }
    }
    .top-slider__subtitle {
        position: absolute;
        left: 50%;
        bottom: 100px;
        transform: translateX(-50%);
        @media (max-width: 1399px) {
            bottom: 50px;
        }
        @media (max-width: 991px) {
            bottom: 30px;
            width: 75%;
        }
        .top-slider__subtitle-text {
            text-align: center;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 1.5rem;
            @media (max-width: 1599px) {
                font-size: 1.4rem;
            }
            @media (max-width: 1499px) {
                font-size: 1.3rem;
            }
            @media (max-width: 1399px) {
                margin-bottom: 1rem;
            }
            @media (max-width: 1199px) {
                font-size: 1.2rem;
            }
            @media (max-width: 991px) {
                font-size: 1.1rem;
            }
            @media (max-width: 575px) {
                font-size: 1rem;
            }
        }
        .top-slider__scroll-link {
            display: block;
            margin: 0 auto;
            width: fit-content;
            transition: 0.2s ease;
            @media (max-width: 575px) {
                display: none;
            }
            &:hover {
                transform: translateY(30px);
                transition: 0.2s ease;
                @media (max-width: 1920px) {
                    transform: translateY(20px);
                }
                @media (max-width: 1399px) {
                    transform: translateY(0);
                }
            }
            > svg {
                @media (max-width: 1399px) {
                    width: 20px;
                    height: 50px;
                }
            }
        }
    }
}

/*Стили для исезающего видео в шапке*/
body.fixed-clear {
    overflow: hidden;
    position: relative;
}
.header.hidden {
    transform: translateY(-200px);
}
.header {
    &.show {
        transform: translateY(0);
        transition: 0.5s 4s ease;
    }
}
.top-slider {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    @media (max-width: 991px) {
        min-height: 100dvh;
        height: 100dvh;
    }
}
.top-slider__bg {
    transition: 0.5s ease;
    position: absolute;
    @media (max-width: 991px) {
        min-height: 100dvh;
        height: 100dvh;
    }
    &.show {
        opacity: 1;
        z-index: 10;
        transition: 1s linear;
    }
    &.hidden {
        opacity: 0;
        z-index: 1;
        transition: 0.85s linear;
    }
}
.top-slider__bg--pic.hidden {
    opacity: 0;
}
.top-slider__bg--pic.show {
    opacity: 1;
}
.top-slider .content-wrapper {
    opacity: 0;
    z-index: 15;
}
.top-slider .content-wrapper.show {
    opacity: 1;
}

.top-slider .content-wrapper {
    .top-slider__title {
        opacity: 0;
        transform: translateX(-300px);
    }
    .top-slider__subtitle {
        opacity: 0;
        transform: translate(-50%, 300px);
    }
}

.top-slider .content-wrapper.show {
    .top-slider__title {
        opacity: 1;
        transform: translateX(0);
        transition: 1s 3s ease;
    }
    .top-slider__subtitle {
        opacity: 1;
        transform: translate(-50%, 0);
        transition: 0.5s 7s ease;
    }
    .top-slider__scroll-link {
        animation-name: doubleTrans;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-delay: 8.5s;
        animation-iteration-count: 2;
    }
}

.top-slider__scroll-link {
    &:hover {
        > svg {
            transform: translateY(20px);
            transition: 0.2s ease;
            @media (max-width: 1920px) {
                transform: translateY(15px);
            }
            @media (max-width: 1399px) {
                transform: translateY(0);
            }
        }
    }
}

@keyframes doubleTrans {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

.top-slider-logo {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 2s linear;
    background-color: rgba(255, 255, 255, 0.4);
    > img {
        @media (max-width: 575px) {
            width: 203px;
            height: 50px;
        }
    }
    &.hidden {
        opacity: 0;
        transition-property: opacity;
        transition-delay: 1s;
        transition-duration: 2s;
        transition-timing-function: linear;
        > img {
            transform: scale(1.7);
            transition-property: transform;
            transition-delay: 0s;
            transition-duration: 3s;
            transition-timing-function: linear;
        }
    }
}

.top-slider.clear {
    .content-wrapper {
        opacity: 1;
        .top-slider__title {
            opacity: 1;
            transform: translateX(0);
        }
        .top-slider__subtitle {
            opacity: 1;
            transform: translate(-50%, 0);
        }
    }
    .top-slider__bg.show,
    .content-wrapper.show .top-slider__title,
    .content-wrapper.show .top-slider__subtitle {
        transition: unset;
    }
    .content-wrapper.show .top-slider__scroll-link {
        animation: unset;
    }
    .top-slider-logo {
        display: none;
    }
    .top-slider__bg--pic.hidden {
        opacity: 1;
    }
    .top-slider__bg--video.show {
        opacity: 0;
    }
}
/*Стили для исезающего видео в шапке*/